
  <h1><%= @profile.name %></h1>

  <img src="<%= @profile.picture %>">
  <p>Name: <%= @profile.name %></p>
  <p>Gender: <%= @profile.gender %></p>
  <p>Weight: <%= @profile.weight %> Lbs</p>
  <p>Age: <%= @profile.age %> years young</p>
  <p>Description: <%= @profile.description %></p>


