<h3> Edit Breed</h3>

<%= render("layouts/errors", :object => @breed) %>

<%= form_for(@breed) do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="form-group">
    <%= f.collection_select :animal_id, Animal.order(:name),:id,:name, include_blank: true %>
  </div>

  <%= f.submit(:class => "btn btn-primary") %>
<% end %>
