<h3> Edit Animal</h3>

<%= render("layouts/errors", :object => @animal) %>

<%= form_for(@animal) do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <%= f.submit(:class => "btn btn-primary") %>
<% end %>
